<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发帖</title>
</head>
<body>
<h2>发帖区</h2>

<form action="{{ url_for('article.publish') }}" method="post">
    <div><input type="text" name="title" placeholder="请输入标题"></div>
    <div><textarea name="content" id="" cols="50" rows="15"></textarea></div>
    <select name="uid" id="">
        <option value="">请选择用户</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="发布">
</form>


</body>
</html>